@model webui.Models.TodoItemDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TodoItemDetailsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TodoItem.Id" class="control-label"></label>
                <input asp-for="TodoItem.Id" class="form-control" readonly />
                <span asp-validation-for="TodoItem.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Name" class="control-label"></label>
                <input asp-for="TodoItem.Name" class="form-control" />
                <span asp-validation-for="TodoItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TodoItem.IsComplete" /> @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.IsComplete)
                </label>
            </div>
            @{
                if (Model.FeatureFlags.FeatureFlagIsActive("ta-7-notes-web-ui"))
                {
                    <div class="form-group">
                        <label asp-for="TodoItem.Notes" class="control-label"></label>
                        <input asp-for="TodoItem.Notes" class="form-control" />
                        <span asp-validation-for="TodoItem.Notes" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@{
    if (!string.IsNullOrEmpty(Model.TodoItem.ErrorMessage))
    {
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="TodoItem.ErrorMessage" class="text-danger"></label>
                    <input asp-for="TodoItem.ErrorMessage" class="text-danger" style="min-width:700px;overflow:auto;border-style:none" readonly="@(true)" />
                </div>
            </div>
        </div>
    }
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
